@import "./reset.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  color: #515a6e;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.has-footer {
  padding-bottom: 50px;
}
.center-form {
  max-width: 50%;
  margin: 0 auto;
}
.margin-bottom {
  margin-bottom: 20px;
}
:root {
  --el-menu-hover-bg-color: rgba(0, 0, 0, 0.1);
  --button-active: 1px 1px 3px rgba(0, 0, 0, 0.06) inset;
  --aside-width-open: 200px;
  --aside-width-close: 64px;
}
