$body-background: #f4f4f4;

$color-primary: var(--el-color-primary);

$aside-bg: #191919;

$font-color: #515a6e;
$font-size: 14px;
$header-height: 50px;
$body-padding: 15px;
//tagsView
$tagViewHeight: 40px;
